<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>949854548604-5geood4nlc35m64fok5hr711k0plat7p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949854548604-5geood4nlc35m64fok5hr711k0plat7p</string>
	<key>API_KEY</key>
	<string>AIzaSyB4ZQQHSyPdVdY3q4rK5SZ1zlXdeAT9S1w</string>
	<key>GCM_SENDER_ID</key>
	<string>949854548604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rebs.Brokery</string>
	<key>PROJECT_ID</key>
	<string>borkersystem-252220</string>
	<key>STORAGE_BUCKET</key>
	<string>borkersystem-252220.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949854548604:ios:9c21f8a4072155d2b18ff9</string>
	<key>DATABASE_URL</key>
	<string>https://borkersystem-252220.firebaseio.com</string>
</dict>
</plist>